<div class="container my-5">
  <h3><strong>会員情報編集</strong></h3>
    <%= form_with model:@customer, local:true do |f| %>
    <div class="row">
      <label class="col-lg-3">氏名</label>
        <div class="col-xs-3">
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </div>
    </div><br>
    
    <div class="row">
      <label class="col-lg-3">フリガナ</label>
        <div class="col-xs-3">
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %>
        </div>
    </div><br>
    
    <div class="row">
      <label class="col-lg-3">郵便番号</label>
        <div class="col-xs-3">
          <%= f.text_field :postal_code %>
        </div>
    </div><br>
    
    <div class="row">
      <label class="col-lg-3">住所</label>
        <div class="col-xs-3">
          <%= f.text_field :address %>
        </div>
    </div><br>
    
    <div class="row">
      <label class="col-lg-3">電話番号</label>
        <div class="col-xs-3">
          <%= f.text_field :phone_number %>
        </div>
    </div><br>
    
    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
        <div class="col-xs-3">
          <%= f.text_field :mail %>
        </div>
    </div><br>
    <% end %>
    <!--f.submit "編集内容を保存", class: "btn btn-primary" -->
    
</div>