
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h3>マイページ</h3><br>
        <p><strong>登録情報 　</strong><%= link_to "編集する", customers_profile_edit_path, class: "btn btn-primary" %></p>

        <table class="table table-bordered">
          <tr>
            <td class="col-md-3 table-secondary">氏名</td>
            <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
          </tr>
          <tr>
            <td class="col-md-3 table-secondary">カナ</td>
            <td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="col-md-3 table-secondary">郵便番号</td>
            <td><%= current_customer.postal_code %></td>
          </tr>
          <tr>
            <td class="col-md-3 table-secondary">住所</td>
            <td><%= current_customer.address %></td>
          </tr>
          <tr>
            <td class="col-md-3 table-secondary">電話番号</td>
            <td><%= current_customer.phone_number %></td>
          </tr>
          <tr>
            <td class="col-md-3 table-secondary">メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
        </table>

        <p><strong>配送先　　</strong><%= link_to "一覧を見る", addresses_path, class: "btn btn-success" %></p>
        <p><strong>注文履歴　</strong><%= link_to "一覧を見る", orders_path, class: "btn btn-success" %></p>

    </div>
  </div>
</div>