<div class="container">
  <div class="row">
      <h2>商品一覧</h2>
      <div class="col-xs-9">
        <div class="text-right">
          <%= link_to new_admin_item_path do %>
            <button type="button" class="btn-outline-dark btn-circle btn-lg">＋</button>
          <% end %>
        </div>
        <table>
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name,admin_item_path(item) %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %>
                  <%= "販売中" %>
                <% else %>
                  <%=  "販売停止中" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @items %>
      </div>
  </div>
</div>

