<div class="container mr-5 ">
  <div class-"row">

    <h2>商品新規登録</h2>

    <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
      <div class="col-md-6">

        <%= f.label:商品画像, class:"col-xs-2" %>
        <%= f.attachment_field :image %>
      </div>


        <div class="form-group">
          <%= f.label:商品名, class:"col-xs-2" %>
          <%= f.text_field :name, size:"40x5" %>
        </div>

        <div class="form-group">
          <%= f.label:商品説明, class:"col-xs-2"%>
          <%= f.text_area :introduction, size:"40x6" %>
        </div>

        <div class="form-group">
          <%= f.label:ジャンル, class:"col-xs-2" %>
          <%= f.collection_select :genre_id, Genre.all, :id,:name,{prompt: "--選択してください--"} %>
        </div>

        <div class="form-group">
          <%= f.label:税抜価格, class:"col-xs-2" %>
          <%= f.text_field :price %>円
        </div>

        <div class="form-group">
          <%= f.label:販売ステータス, class:"col-xs-3" %>

            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
        </div>

        <%= f.submit "新規登録" ,class: "btn btn-success"%>

    <% end %>


  </div>
</div>



