<div class="container my-5">
  <div class="row">
    <h2><strong>商品詳細</strong></h2>
  </div>
    <div class="d-flex justify-content-center mb-4">
      <%= attachment_image_tag @item, :image, size:'250x250', fallback: 'no_image.jpg',size: "250x250", class: "rounded" %>
    </div>
  <div class="row">
      <table class="table">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格</td>
          <td><%= @item.add_tax_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td>(税抜価格)</td>
          <td>(<%= @item.price %>)円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><% if @item.is_active == true %>
					 <%= "販売中"%>
			     <% else %>
					 <%= "販売停止中"%>
				      <% end %></td>
				</tr>
			</table>
		</div>
			<%= link_to "編集する",edit_admin_item_path(@item), class:"btn btn-success" %>
	</div>