<div class="container mr-5">
  <div class="row">
    <h2>商品詳細</h2>
    <div class="col-xs-4">
      <p><%= attachment_image_tag @item, :image, size:'250x250', fallback: 'no_image.jpg',size: "250x250" %></p>
      <p>商品名<%= @item.name %></p>
      <p>商品説明<%= @item.introduction %></p>
      <p>ジャンル<%= @item.genre.name %></p>
      <p>税込価格<%= @item.add_tax_price.to_s(:delimited) %>円</p>
      <p>(税抜価格)(<%= @item.price %>)円</p>
      <p>販売ステータス
		    <% if @item.is_active == true %>
					<%= "販売中"%>
				<% else %>
					<%= "販売停止中"%>
				<% end %>
			</p>
			<%= link_to "編集する",edit_admin_item_path(@item), class:"btn btn-success" %>

  </div>
</div>