<div class="container my-5">
  <div class="row">
    <%= image_tag "item1.jpg",class: "rounded", :width => '100%', :height => '400px' %><br>
  </div>
    <p class="text-center my-5">
    ようこそ、ながのCAKEへ!<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員ではない方も商品の閲覧はできますが、
    購入には会員登録が必要になります。</p>
  <div class="row">
    <div class="item-card-content">
      <div class=" d-flex float-left">
      <h3>新着商品</h3><br>
        <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
        <div class="thumbnail item-thumbnail col-xs-2">
          <%= attachment_image_tag item, :image, :size => '200x200' %>
        <div class="caption">
          <p><%= item.name %></p>
          <p><%= "#{item.price}円" %></p>
      </div>
        </div>
        </div>
        <% end %>
        <% end %>
    </div>
      <p>
      <%= link_to "全ての商品を見る>", items_path %>
      </p>
  </div>
</div>