  <div class="container my-4" >
  <div class="row">
    <div class="col-xl-12">
      <h3><strong>会員一覧画面</strong></h3>


    <table class="table table-bordered">
      <tr>
        <td class="col-md-1">会員ID</td>
        <td class="col-md-2">氏名</td>
        <td class="col-md-3">メールアドレス</td>
        <td class="col-md-2">ステータス</td>

      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <td class="col-md-1"><%= customer.id %></td>
        <td class="col-md-2"><%= link_to (customer.last_name + customer.first_name), admin_customer_path(customer) %></td>
        <td class="col-md-3"><%= customer.email %></td>
        <td class="col-md-2"><% if customer.is_deleted %><%=  "退会" %><% else %><%=  "有効" %><% end %></td>
      </tr>
      <% end %>
    </table>
    
  </div>
</div>
  <%= paginate @customers, class: "paginate" %>
