<div class="container my-4" >
  <div class="row">
    <div class="col-xl-12">
      <h3><strong>注文履歴一覧</strong></h3>


    <table class="table">
      <tr class="table-info">
        <td class="col-md-2">購入日時</td>
        <td class="col-md-2">購入者</td>
        <td class="col-md-2">注文個数</td>
        <td class="col-md-2">注文ステータス</td>
      </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(order) %></td>
        <%#  %>
        <td><%= order.customer.last_name + order.customer.first_name %></td>
        <td><%=  order.order_details.sum(:item_amount)%></td>
        <%# 注文詳細sumを使用するかも？%>
        <td><%= order.order_status %></td>
      </tr>
      <% end %>
    </table>

   </div>
 </div>

</div>

<%= paginate @orders_page, class: "paginate" %>