<div class="container my-5">
  <h3><strong>配送先登録 / 一覧</strong></h3><br>
    <%= form_with model:@address, url:addresses_path, local:true do |f| %>
    <div class="row">
      <label class="col-lg-3">郵便番号(ハイフン無し)</label>
        <%= f.text_field :postal_code, class: "col-xs-3" %>
    </div><br>
    <div class="row">
      <label class="col-lg-3">住所</label>
        <%= f.text_field :address, class: "col-sm-6" %>
    </div><br>
    <div class="row">
      <label class="col-lg-3">宛名</label>
      <div class="col-mx-auto">
      <%= f.text_field :name, class: "col-xs-3" %>
      <%= f.submit "新規登録", class: "btn btn-success" %>
    <% end %>
    </div>
    </div>
    </div>
</div>