
<div class="container my-5">
  <div class="row">
    <h3>注文履歴一覧</h3>
    <table class="table table-bordered">
      <thead>
      <tr class="table-info">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払い金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td>
            <%= order.postal_code %>
            <%= order.address %>
            <%= order.receiver_name %>
          </td>
          <td>
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %>
            <% end %>
          </td>
          <td><%= order.billing_amount.to_s(:delimited) %></td>
          <td><%= order.order_status %></td>
          <td><%= link_to '表示する', order_path(order.id) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
