<div class="container my-5">
 <h3><strong>注文情報詳細</strong></h3>
  <h6>注文情報</h6>
  <div class="row">
   <div class="col-md-6">
    <table class="table table-bordered">
     <tr>
      <td class="col-md-3 table-secondary">注文日</td>
      <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
     </tr>
     <tr>
      <td class="col-md-3 table-secondary">配送先</td>
      <td>
       〒<%= @order.postal_code %><br>
         <%= @order.address %><br>
         <%= @order.receiver_name %><br>
      </td>
     </tr>
     <tr>
      <td class="col-md-3 table-secondary">支払い方法</td>
      <td><%= @order.payment_method_i18n %></td>
     </tr>
     <tr>
      <td class="col-md-3 table-secondary">ステータス</td>
      <td><%= @order.order_status %></td>
     </tr>
    </table>
   </div>

   <div class="col-md-4">
    <h6>請求情報</h6>
   <table class="table table-bordered">
    <tr>
     <td class="table-secondary">商品合計</td>
     <td><%= @order.billing_amount.to_s(:delimited) %></td>
    </tr>
    <tr>
     <td class="table-secondary">請求情報</td>
     <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
     <td class="table-secondary">ご請求額</td>
     <td><%= (@order.billing_amount + 800).to_s(:delimited) %></td>
    </tr>
   </table>
   </div>
  </div>
  <div class="row">
   <div class="col-md-8">
   <h6>注文内容</h6>
    <table class="table table-bordered">
     <thead>
      <tr>
       <th class="col-md-6 table-secondary">商品</th>
       <th class="col-md-2 table-secondary">単価</th>
       <th class="col-md-1 table-secondary">個数</th>
       <th class="col-md-1 table-secondary">小計</th>
      </tr>
     </thead>
     <tbody>
      <% @order_details.each do |order_detail| %>
      <tr>
       <td><%= order_detail.item.name %></td>
       <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
       <td><%= order_detail.item_amount %></td>
       <td><%= order_detail.subtotal.to_s(:delimited) %></td>
      </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>
</div>