<div class="container my-5">
  <h4>会員の方はこちらからログイン</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div><br>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div><br>
  <% end %>

  <div class="row">
    <div class="col-xs-5">
      <h4>登録がお済でない方</h4>
        <%= link_to "こちら", new_customer_registration_path %>
      <strong>から新規登録を行ってください。</strong>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-5">
      <h4>管理者の方</h4>
        <%= link_to "こちら", new_admin_session_path %>
      <strong>からログインしてください</strong>
    </div>
  </div>
</div>