<div class="container my-5">
 <div class="row">
  <h3>商品一覧<small class="text-muted">(全<%= @quantity %>件)</small>
  </h3>
 </div>
 <div class="row">
  <div class="d-flex flex-wrap">
   <% @items.each do |item| %>
    <div class="img">
     <%= link_to item_path(item.id) do %>
      <%= attachment_image_tag item, :image, size: "200x150" %>
     <% end %>
     <p><%= item.name %></p>
     <p>¥<%= item.add_tax_price.to_s(:delimited) %></p>
    </div>
   <% end %>
  </div>
  <%= paginate @items %>
</div>

