<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand"><%= link_to image_tag("logo.png"), root_path %></a>
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>

          <li>
            <%= link_to customer_path(current_user) do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">マイページ</button>
            <% end %>
          </li>
          <li>
            <%= link_to items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">カート</button>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ログアウト</button>
            <% end %>
          </li>

        <% elsif admin_signed_in? %>

          <li>
            <%= link_to admin_items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">会員一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to admin_orders_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">注文履歴一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ジャンル一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ログアウト</button>
            <% end %>
          </li>

        <% else %>
          <li>
            <%= link_to home_about_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">About</button>
            <% end %>
          </li>
          <li>
            <%= link_to items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to customer_registration_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">新規登録</button>
            <% end %>
          </li>
          <li>
            <%= link_to customer_session_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ログイン</button>
            <% end %>
          </li>
        <% end %>
        </ul>
    </div>
  </nav>
</header>