<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#d78c42;">
    <div class="container">
      <a class="navbar-brand"><%= link_to root_path do %>
      <%= image_tag "logo.png", :width => '100', :height => '100' %><% end %></a>
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>

          <li>
            <%= link_to customers_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">マイページ</button>
            <% end %>
          </li>
          <li>
            <%= link_to items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">カート</button>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ログアウト</button>
            <% end %>
          </li>

        <% elsif admin_signed_in? %>

          <li>
            <%= link_to admin_items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">会員一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to admin_orders_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">注文履歴一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ジャンル一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ログアウト</button>
            <% end %>
          </li>

        <% else %>
          <li>
            <%= link_to home_about_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">About</button>
            <% end %>
          </li>
          <li>
            <%= link_to items_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">新規登録</button>
            <% end %>
          </li>
          <li>
            <%= link_to customer_session_path do %>
              <button type="button" class="btn btn-warning rounded-pill btn-outline-dark">ログイン</button>
            <% end %>
          </li>
        <% end %>
        </ul>
    </div>
  </nav>
</header>
    <%= yield %>

    <footer>
      <div class="container">
        <div class="small text-center text-muted" style="margin: 50px 0;">Copyright © 2021  Team MGG
        </div>
      </div>
    </footer>
  </body>
</html>
